@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,400");
/*font-family: 'Josefin Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@font-face {
  font-family: proxy;
  src: url("../fonts/Proxima-Nova/ProximaNova-Regular.otf"); }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }
  @media (max-width: 385px) {
    html {
      font-size: 13px; } }

body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-color: white; }
  body h2 {
    margin: 0; }
  body .selected {
    color: red; }
  body .hide {
    display: none; }
  body .container {
    width: 100%;
    min-height: 100%; }
    body .container #wrapper {
      overflow: auto;
      padding-bottom: 3.5rem; }
      body .container #wrapper .fullNav {
        width: 100vw;
        background-color: #222222;
        height: 2.7rem;
        top: 0;
        margin: 0; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
          body .container #wrapper .fullNav {
            display: none; } }
        @media (max-width: 400px) {
          body .container #wrapper .fullNav {
            display: none; } }
        body .container #wrapper .fullNav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: .8rem 1rem;
          text-decoration: none;
          font-size: 17.6px;
          font-weight: 100; }
          body .container #wrapper .fullNav a:hover {
            background-color: grey;
            color: black; }
      body .container #wrapper .mobileNav {
        position: absolute;
        text-align: center;
        width: 60px;
        font-size: 40px;
        color: black;
        z-index: 19;
        margin-top: 0px; }
        @media only screen and (min-device-width: 668px) {
          body .container #wrapper .mobileNav {
            display: none; } }
        @media only screen and (min-device-width: 569px) and (orientation: landscape) and (max-device-width: 732px) and (orientation: landscape) {
          body .container #wrapper .mobileNav {
            display: none; } }
        @media (max-width: 400px) {
          body .container #wrapper .mobileNav {
            display: block; } }
      body .container #wrapper .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        background-color: #222222;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: center; }
      body .container #wrapper .sidenav a {
        margin-top: 20px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 40px;
        color: #818181;
        display: block;
        transition: 0.3s; }
      body .container #wrapper .sidenav a:hover {
        color: #f1f1f1; }
      body .container #wrapper .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px; }

.landingContainer {
  width: 100%;
  background-image: url("../img/mixerMacBigOpt.jpg");
  background-size: cover;
  overflow: auto;
  height: 92vh; }

@-webkit-keyframes mixerAndMac {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes mixerAndMac {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .landingContainer a {
    text-decoration: none; }
  .landingContainer #landingBG {
    margin-top: 2rem;
    margin-bottom: -1rem;
    height: 55vh; }
    .landingContainer #landingBG #nameHolder {
      height: 100%;
      margin-top: 4rem;
      font-family: sans-serif;
      padding-left: 1rem; }
      .landingContainer #landingBG #nameHolder #name {
        position: relative;
        font-size: 4rem;
        font-weight: lighter;
        letter-spacing: 1rem;
        color: white;
        -webkit-animation: mixerAndMac .5s;
                animation: mixerAndMac .5s; }
        @media (max-width: 380px) {
          .landingContainer #landingBG #nameHolder #name {
            letter-spacing: 0; } }
        @media (max-width: 285px) {
          .landingContainer #landingBG #nameHolder #name {
            font-size: 4rem; } }
        @media (max-width: 1000px) {
          .landingContainer #landingBG #nameHolder #name {
            font-size: 3rem;
            text-align: center; } }
        .landingContainer #landingBG #nameHolder #name span {
          -webkit-animation: mixerAndMac .5s;
                  animation: mixerAndMac .5s; }
  .landingContainer .message {
    -webkit-animation: mixerAndMac 1s;
            animation: mixerAndMac 1s;
    color: white;
    padding-top: 1rem;
    padding-left: 12px; }
    @media (max-width: 1000px) {
      .landingContainer .message {
        text-align: center;
        padding-left: 0; } }

@-webkit-keyframes aboutDiv {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes aboutDiv {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

.aboutDiv {
  border-radius: 5px;
  opacity: 1;
  font-size: 1rem;
  font-family: verdana;
  width: 70vw;
  padding-top: 40px;
  margin: 1rem auto;
  text-align: center;
  -webkit-animation: aboutDiv 1s;
          animation: aboutDiv 1s; }
  .aboutDiv .qface {
    width: 15rem;
    height: 15rem;
    margin: 1rem auto;
    background-image: url("../img/qface.jpg");
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    color: black; }

@-webkit-keyframes qdrums {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes qdrums {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .aboutDiv .qface #qdrums {
      width: 300px;
      border-radius: 150px;
      -webkit-animation: qdrums 3s;
              animation: qdrums 3s; }

@-webkit-keyframes textShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: .7; }
  100% {
    opacity: 1; } }

@keyframes textShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.textShow {
  color: black;
  opacity: 1;
  -webkit-animation: textShow 2.5s;
          animation: textShow 2.5s; }

.container .select {
  text-align: center;
  margin-top: 2rem;
  font-size: 24px; }

.container .projectsNav {
  width: 100%; }

@-webkit-keyframes navShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: .7; }
  100% {
    opacity: 1; } }

@keyframes navShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: .7; }
  100% {
    opacity: 1; } }
  .container .projectsNav ul {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 45px;
    border-bottom: 1px solid #999; }
    .container .projectsNav ul li {
      font-size: 36px;
      padding: 0 10%;
      display: inline;
      list-style: none; }
      @media (max-width: 775px) {
        .container .projectsNav ul li {
          font-size: 2rem; } }
      .container .projectsNav ul li span:hover {
        background-color: rgba(212, 214, 214, 0.4);
        border-radius: 5px;
        cursor: pointer; }

.container #projectsHolder {
  margin-top: 2rem; }
  .container #projectsHolder #websiteDiv #websiteDiv_show_hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 775px) {
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .container #projectsHolder #websiteDiv #websiteDiv_show_hide img {
      width: 100%; }
    .container #projectsHolder #websiteDiv #websiteDiv_show_hide .selectedSite {
      border: solid 2px #FF0000;
      box-shadow: none !important; }
    .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder {
      margin: 0 auto;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      width: 75%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      @media (max-width: 775px) {
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #nikkisite {
        min-width: 45%;
        max-width: 90%;
        height: 5rem;
        background-image: url("../img/nikkisite.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 1rem;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #nikkisite:active {
          box-shadow: none !important;
          border-radius: 10px;
          border: solid 1px orange; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #nikkisite:hover {
          cursor: pointer;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px; }
          .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #nikkisite:hover > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder .go {
        font-size: 200%;
        background-color: white;
        border-radius: 5px;
        color: blue; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder .go a {
          color: blue; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder .hovered {
        display: none; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinsite {
        min-width: 45%;
        max-width: 90%;
        height: 5rem;
        background-image: url("../img/quentinsite.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinsite:active {
          box-shadow: none !important;
          border-radius: 10px;
          border: solid 1px orange; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinsite:hover {
          cursor: pointer;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px; }
          .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinsite:hover > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinhype {
        min-width: 45%;
        max-width: 90%;
        height: 5rem;
        background-image: url("../img/hypenings.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 1rem;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinhype:active {
          box-shadow: none !important;
          border-radius: 10px;
          border: solid 1px orange; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinhype:hover {
          cursor: pointer;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px; }
          .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinhype:hover > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinpsd {
        min-width: 45%;
        max-width: 90%;
        height: 5rem;
        background-image: url("../img/quentinpsd.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinpsd:active {
          box-shadow: none !important;
          border-radius: 10px;
          border: solid 1px orange; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinpsd:hover {
          cursor: pointer;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px; }
          .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinpsd:hover > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinWiki {
        min-width: 45%;
        max-width: 90%;
        height: 5rem;
        background-image: url("../img/quentinWiki.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
        border-radius: 10px; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinWiki:active {
          box-shadow: none !important;
          border-radius: 10px;
          border: solid 1px orange; }
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinWiki:hover {
          cursor: pointer;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px; }
          .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder #quentinWiki:hover > div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .thumb_holder a {
        text-decoration: none; }
    .container #projectsHolder #websiteDiv #websiteDiv_show_hide .details_holder {
      width: 75%;
      margin: 1rem auto;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      @media (max-width: 775px) {
        .container #projectsHolder #websiteDiv #websiteDiv_show_hide .details_holder {
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2; } }
      .container #projectsHolder #websiteDiv #websiteDiv_show_hide .details_holder .detailsDiv {
        width: 100%;
        text-align: center;
        color: #646464;
        text-decoration: none;
        font-size: 1.05rem;
        border-radius: 10px;
        padding-top: 1rem; }
  .container #projectsHolder #audioDiv {
    margin: 0 auto;
    width: 95vw;
    height: 50vh; }
    .container #projectsHolder #audioDiv #soundcloudStuff {
      height: 50vh;
      width: 75vw;
      margin: 0 auto; }
      .container #projectsHolder #audioDiv #soundcloudStuff iframe {
        width: 75vw;
        height: 50vh;
        margin: 0 auto;
        box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75); }
  .container #projectsHolder #videoDiv #youtubeStuff {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: auto;
    display: inline-block; }
    .container #projectsHolder #videoDiv #youtubeStuff .videoImage {
      padding: 0 1rem;
      display: inline-block;
      width: 45vw;
      height: 40vh; }
      .container #projectsHolder #videoDiv #youtubeStuff .videoImage img {
        width: 100%;
        height: auto; }
        .container #projectsHolder #videoDiv #youtubeStuff .videoImage img:hover {
          width: 105%;
          transition: .25s;
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.75); }
  .container #projectsHolder #videoDiv #arrowsDiv {
    width: 100vw;
    font-size: 2rem;
    margin: auto;
    text-align: center; }
    .container #projectsHolder #videoDiv #arrowsDiv #arrowLeft {
      float: left;
      margin-left: 1rem; }
      .container #projectsHolder #videoDiv #arrowsDiv #arrowLeft:hover {
        cursor: pointer; }
    .container #projectsHolder #videoDiv #arrowsDiv #arrowRight {
      float: right;
      margin-right: 1rem; }
      .container #projectsHolder #videoDiv #arrowsDiv #arrowRight:hover {
        cursor: pointer; }
    .container #projectsHolder #videoDiv #arrowsDiv #scroll {
      font-size: 1rem;
      color: blue; }
      .container #projectsHolder #videoDiv #arrowsDiv #scroll:hover {
        cursor: default; }

#contactContainer {
  height: 100%;
  width: 100vw; }
  #contactContainer .centerThis {
    text-align: center;
    position: absolute;
    top: 5rem;
    bottom: 5rem;
    left: 1rem;
    right: 1rem; }

footer {
  width: 100vw;
  position: relative;
  height: 3.5rem;
  margin-top: -3.5rem;
  background-color: rgba(212, 214, 214, 0.5);
  color: white;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .iconsDiv {
    color: #646464;
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    footer .iconsDiv .footerIcons {
      width: 2rem;
      height: 2rem;
      padding: 0 1rem; }

.iconsDiv2 {
  width: 90%;
  margin: 2rem auto;
  text-align: center; }
  .iconsDiv2 .footerIcons {
    display: inline-block;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .4rem;
    width: 2rem;
    height: 2rem; }
