<div id='contactContainer'>
<div class="centerThis"><h1>Contact</h1>
<p>feel free to get in contact with me at <a href="mailto:quentinjosephinfo@gmail.com"> quentinjosephinfo@gmail.com</a> or you can connect with me on social media.</p>

<div class="iconsDiv2">
<a href="https://www.facebook.com/quentinjoseph" target="blank"><img class="footerIcons"src="img/icons/FB.png" alt=""></a>
<a href="https://www.instagram.com/quentinjoseph/" target="blank"><img class="footerIcons"src="img/icons/instagram.png" alt=""></a>
<a href="https://www.linkedin.com/in/quentinjoseph/" target="blank"><img class="footerIcons"src="img/icons/linkedin.png" alt=""></a>
</div>
</div>




</div>
