<div class="container">

  <div class="projectsNav">
    <div class="select"><p>select an option</p></div>
    <ul>
      <li><span ng-click="projectSelect($event)" id="videos" class="">Videos</span></li>
      <li><span ng-click="projectSelect($event)" id="websites" class="selected">Websites</span></li>
      <li><span ng-click="projectSelect($event)" id="audio" class="">Audio</span></li>
    </ul>
  </div>
<!-- project div -->
<div id="projectsHolder">
  <div id="websiteDiv" class="">
    <a href="http://www.nicolejosephsoprano.com" target="_blank">
      <div class="" ng-mouseleave="hideDetails($event)" ng-mouseover="showDetails($event)" id="nikkisite"></div></a>
    <div ng-mouseleave="hideDetails($event)" ng-mouseover="showDetails($event)" id="quentinsite"></div>
    <div id="nikkisiteDetails" class="hide detailsDiv">
    A site created from scratch using HTML5, CSS, Angular JS, JavaScript, NodeJS, Mailjet API, Google Maps API as well as geolocation,  and a Postgresql Database. Also uses the plugins, Lity, Lightbox, and Smoothscroll. nicolejosephsprano.com (click the thumbnail to visit the site)
    </div>
    <div id="quentinsiteDetails" class="hide detailsDiv">
    This site.  Created from scratch using HTML5, CSS, Angular JS, and JavaScript. Also uses the plugins, Lity and Smoothscroll.
    </div>
  </div>

<!--video div  -->
  <div id="videoDiv" class="hide">
    <div id="youtubeStuff" class="">
<div class="videoImage" id="marker{{$index}}" ng-repeat="vid in vids"><a href="//{{vid.vid}}" data-lity><img src="{{vid.thumb}}" alt=""></a></div>
    </div>
    <div id="arrowsDiv">
      <div id="arrowLeft"><span ng-click="moveVideoRev()"> < left </span></div> <span id="scroll">(scroll or use arrows)</span>
      <div id="arrowRight"><span ng-click="moveVideo()"> right > </span></div>
    </div>
  </div>


<!-- audio div -->
  <div id="audioDiv" class="hide">
    <div id="soundcloudStuff" class="">
      <iframe width="100%" height="300" scrolling="yes" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/334237207&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div>

</div>
