@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
/*font-family: 'Josefin Sans', sans-serif;*/

body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}
span{
  color:white;
}
.namebox{
  padding: 22% 0;
  letter-spacing: 15px;
}
.containerIndex{
font-family: 'Josefin Sans', sans-serif;
font-size: 36px;
text-align: center;
color: white;
background-color: black;
/*background-image: url('/img/background.jpg');*/
/*background-size: cover;
background-repeat: no-repeat;
background-position: center;*/
width: 100%;
height: 100vh;

}
